# Basic usage

### Parsing SpectraMax XML Files

In [1]:
from pathlib import Path

from growth_curve_calculator import parse_spectramax_xml

# Parse an XML file
example_data_directory = Path("../../growth_curve_calculator/tests/example_data")
xml_filepath = example_data_directory / "sample_endpoints_1.xml"
microplate_data_list = parse_spectramax_xml(xml_filepath)

# Get names of all plates in the file
[plate.name for plate in microplate_data_list]

['Chlamy', 'Phaeo']

In [2]:
# Get the times at which each plate was measured
for plate in microplate_data_list:
    print(f"{plate.name}: {plate.timestamp}")

Chlamy: 2024-08-06 22:19:29
Phaeo: 2024-08-06 22:21:08

In [3]:
# Get the optical density measurements of a plate as a pandas DataFrame
microplate_data = microplate_data_list[0]
microplate_data.measurements.head()

  well_row  well_column well_id  value  excitation_nm
0        A            5     A05  0.050          750.0
1        A            6     A06  0.040          750.0
2        A            7     A07  0.042          750.0
3        A            8     A08  1.063          750.0
4        B            5     B05  0.134          750.0

In [4]:
# Explore plate reader metadata
microplate_data.metadata

{'Plate  (1 of 2)': '',
 'Plate name': 'Chlamy',
 'Barcode': '',
 'Microplate name': 'Standard clrbtm',
 'Rows': '8',
 'Columns': '12',
 'Well count': '96 Wells',
 'Well shape': 'Round',
 'Bottom shape': 'Flat',
 'Orientation': 'Landscape',
 'Is lidded': 'False',
 'Read Time': '08/06/2024 22:19:29',
 'Settings': '',
 'Measurement mode': 'Abs',
 'Measurement type': 'Endpoint',
 'Wavelength settings': '',
 'Path check': 'False',
 'Excitation/Emission': '750 nm/-',
 'Detection settings': '',
 'Speed read': 'True',
 'Shake settings': '',
 'Shake': 'True',
 'Duration': '5',
 'Mode': 'Orbital',
 'Intensity': 'Medium',
 'Read area settings': '',
 'Read order': 'Row',
 'Well data': ''}